<!--HTML Form
<form method="post" action="/users" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="user[username]">Username</label>
    <input type="text" name="user[username]" class="form-control">
  </div>

  <div class="form-group">
    <label for="user[email]">Email</label>
    <input type="email" name="user[email]" class="form-control">
  </div>

  <div class="form-group">
    <label for="user[password]">Password</label>
    <input type="password" name="user[password]" class="form-control">
  </div>

  <input type="submit" value="Submit">
</form>
-->

<!--Rails form_tag Form
<%= form_tag(:users, method: :post) do %>
  <div class="form-group">
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username, nil, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:email, "Email") %>
    <%= email_field_tag(:email, nil, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:name, "Password") %>
    <%= password_field_tag(:password, nil, class: "form-control") %>
  </div>
  <%= submit_tag("Submit") %>
<% end %>
-->


<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, "Username"%>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control", placeholder: "example@example.com", type: :email %>
  </div>
  <%= f.submit "Update", method: :put %>
<% end %>
